@import "./slick.scss";
@import "./slick-theme.scss";
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./normalize.scss";
@import "./fonts.scss";
@import "./settings.scss";

// creative agensy

                    /* wr-preview */
.wr-preview {
    background-image: url("../img/home/home_page.png");
    background-size: auto 840px;
    background-repeat: no-repeat;
    background-position: top center;  
    h1 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 48px;
        color:#60606e;
        text-transform: uppercase;
        text-align: center;
        border: 10px solid #60606e;
        max-width: 520px;
        margin: 160px auto 25px;
        padding: 12px 8px;
        position: relative;
    }
    h1:after {
        content: "we're";
        background-color: #7beec7;
        position: absolute;    
        bottom: 113%;
        left: 41%;
        font-size: 18px;
        padding: 4px 18px;
    }
    p {
        font-size: 16px;
        max-width: 555px;
        margin: 0 auto;
    }     
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;  
    padding: 50px 50px 0 5px;        
    .logo {
        color: #60606e;
        font-size: 18px;
        font-family: "Montserrat", serif;
        font-weight: 700;
        text-transform: uppercase;             
    }
}
.nav-header {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #60606e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative; 
    padding: 10px;
    cursor: pointer;
        .line {
            display: flex;
            flex-direction: column;
            background-color: #60606e;
            height: 1px;
            width: 20px;
            margin-top: 5px;
        }
}	
.home, .about, .services, .blog,  .contact {
    width: 120px;
    height: 50px; 
    cursor: pointer;
    display: none;
}
.nav-header:hover .home {
    display: inline-block;
    top: 70%;
    text-align: center;
    padding: 10px;
    position: absolute;
}
.nav-header:hover .about {
    display: inline-block;
    top: 120%;
    text-align: center;
    padding: 10px;
    position: absolute;
}
.nav-header:hover .services {
    display: inline-block;
    top: 170%;
    text-align: center;
    padding: 10px; 
    position: absolute;
}
.nav-header:hover .blog {
    display: inline-block;
    top: 220%;
    text-align: center; 
    padding: 10px;
    position: absolute;
}
.nav-header:hover .contact {
    display: inline-block;
    top: 270%;
    text-align: center;
    padding: 10px;
    position: absolute;
}
a:hover {
    border-bottom: 1px solid #60606e;
}
.home-container-history {
    display: flex;
    justify-content: space-between;
    margin: 125px auto 0;
    max-width: 1150px;
    padding-left: 5px;
    padding-right: 5px;
    img {
        max-width: 460px;
        max-height: 400px; 
        object-fit: contain;    
    }
}  
.home-container-info {   
    h2 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 30px;
        color:#60606e;
        text-transform: uppercase;
        position: relative;
        letter-spacing: -1px;
        z-index: 10;
        text-align: left;
        margin-bottom: 10px;
    }
    h2::before {
        content: "";
        background-color: #7beec7;
        width: 68px;
        height: 20px;  
        position: absolute;
        top: 18px;
        z-index: -1;
    }
    p {
        font-family: "OpenSans", serif;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        color: #60606e;
        line-height: 1.9;
        margin-bottom: 20px;
        text-overflow: ellipsis;
    }                
    .button-home {
        display:flex;
        justify-content:flex-end;
    } 
}


                    /* why choose us */
.wr-choose {
    margin: 0 auto;
    max-width: 1150px;
    .choose-container {
        padding: 115px 5px 115px;  
    }
}
.choose-content {
    display: flex;
    justify-content: space-between;
    .choose-content-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;  
    } 
    img {
        max-width: 458px;
        max-height: 500px;
        object-fit: contain;
    }
}
.choose-content-item { 
    width: 50%; 
    svg{
        color: #60606e;
        width: 35px;
        height: 35px;
        opacity: 0.5;
    }
    ul {
        font-family: "Montserrat", serif;
        font-weight: 400;
        font-size: 14px;
        color:#60606e;
        text-transform: uppercase;
        letter-spacing: -0.5px;
    }
    li {
        margin-bottom: 15px;
    }
}

                    // our portfolio
.wr-portfolio {
    margin: 0 auto;
    max-width: 1150px;
    .portfolio-container {
        padding: 0 5px 140px;  
    }
}
.portfolio-content {
    display: flex;
    justify-content: space-between;
}
.portfolio-navigation {
    h3 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 30px;
        color:#60606e;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 35px;
        line-height: 1.5;                    
    }               
    ul {
        position: relative;
        margin: 0;
    }
    li {
        margin-bottom: 25px;
        button {
            font-family: "Montserrat", serif;
            font-size: 14px;
            text-transform: uppercase;
            list-style-type: none;
            color:#60606e;
            font-weight: 700;
            padding-left: 20px;
            padding-right: 20px;
            border: none;
            background-color: transparent;
            .active {
                background-color: #7beec7;
                color: #fff;
            }
        }
        button:hover {
            cursor: pointer;
        }
        button:focus {
            background-color: #7beec7;
            color: #fff;
            outline: none;
        }
    }               
}
.portfolio-block {
    display: grid;
    grid-template-columns: 1fr 30px 1fr 30px 1fr; 
    grid-template-rows: repeat(2, auto 30px) repeat(2, 30px) auto repeat(2, 30px) repeat(2, auto);  
    .one {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .two {
        grid-column: 3/4;
        grid-row: 1/2;  
    }
    .three {
        grid-column: 5/6;
        grid-row: 1/4;
    }
    .four {
        grid-column: 1/2;
        grid-row: 3/6;
    }
    .five {
        grid-column: 3/4;
        grid-row: 3/9;
    }
    .six {
        grid-column: 5/6;
        grid-row: 5/8;
    }
    .seven {
        grid-column: 1/2;
        grid-row: 7/12;
    }
    .eight {
        grid-column: 3/4;
        grid-row: 10/12;
    }
    .nine {
        grid-column: 5/6;
        grid-row: 9/11;
    }
    a {
        img {
            max-width: 260px;
            object-fit: contain;
        }
    }
}
.hide {
    display: none;
}

                    /* footer green form*/
.footer-form {
    margin: 0 auto;
    background-color: #7beec7;
    .footer-content {
        max-width: 1150px;
        margin: 0 auto;                
        display: flex;
        justify-content: space-between;
        padding: 50px 5px;
    }
}
.footer-inner {      
    h3 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: #fff;
        display: inline-block;
        line-height: 1.5;
        margin-top: 0;
    }
    .button {
        background-color: #fff;
        color: #7beec7;
    } 
}
.footer-email {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    h5 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        color: #60606e;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 1.5;
        margin: 0;
        max-width: 90%;
    }
    p {
        font-size: 16px;
        opacity: 0.6;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        margin-bottom: 30px;
        max-width: 90%;
        text-align: left;
    }
    form {
        display: flex;
        align-items: stretch;
        .bottom-form {
            display: inline-block;
            box-sizing:border-box;
            width: calc(100% - 165px);
            height: 50px;
            border: 1px solid  #dad8d8;
            outline: none;
        }
        .button {
            box-sizing: border-box;
            text-align: center;
        }
        ::placeholder {
            font-family: "Montserrat", serif;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            padding-left: 10px;
            opacity: 0.5;
        }
    }
} 

                    // footer
footer {
    margin: 0 auto;
    max-width: 1150px;
    .footer-container {
        padding: 50px 5px 0;
    }
}
.footer-block {
    display: flex;
    justify-content: space-between;
} 
.footer-nav {
    ul {
        display: flex;
        justify-content: flex-start;
        font-family: "Montserrat", serif;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        margin: 0;
        li {
            margin-right: 15px;
        }                    
        li + li::before {
            content: "-"; 
            color: #60606e;
            margin-right: 15px;
        }  
        a:hover {
            border-bottom: 1px solid #60606e;
        }        
    }
}
.footer-info {
    font-family: "Montserrat", serif;
    font-weight: 400px;
    text-transform: uppercase;
    font-size: 14px;
    color: #60606e;
    margin: 0;
}
.footer-icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
        li {
            padding-left: 18px;
            a {
                svg {
                    fill: #60606e;
                    width: 15px;
                    height: 15px;
                }
                svg:hover {
                    fill: #7beec7;
                }
            }
        } 
}

// about-us

.about-us {
    max-width: 1150px;
    margin: 0 auto;
    .about-us-container {
        display: flex;
        justify-content: space-between;
        padding: 125px 5px 25px;
    }
}
.about-inner {
    h2 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 30px;
        color:#60606e;
        text-transform: uppercase;
        position: relative;
        letter-spacing: -1px;
        z-index: 10;
        text-align: left;
    }
    h2::before {
        content: "";
        background-color: #7beec7;
        width: 68px;
        height: 20px;  
        position: absolute;
        top: 18px;
        z-index: -1;
    }
    h6 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 14px;
        color:#60606e;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 0;
    }
    p {
        margin: 0 auto 95px;
        line-height: 2.2;
        text-align: left;
        padding-right: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.benefist {
    max-width: 1150px;
    margin: 0 auto;
    .benefist-container {
        padding: 0 5px 80px;  
        .benefist-inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;  
        }
    }
}
.page-title {
    p {
        margin: 0 auto 80px;
    }
}
.benefist-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .benefist-icon {
        display: flex;
        align-items: center;
        svg {
            width: 30px;
            height: 30px;
            color: #fff;
            background-color: #7beec7;
            padding: 5px;
            fill: #fff;
            margin-right: 10px;
        }
    }
    p {
        line-height: 2.2;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        max-width: 360px;
    }
}
.dream-team {
    max-width: 1150px;
    margin: 0 auto;
    .dream-team-container {
        padding: 0 5px 160px;
        .dream-team-content {
        // слайдер будет 
        padding: 0;
        }
    }
}
.dream-team-inner {
    background-color: #e9e6e6;
    .button-block {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 5px;
        p {
            font-style: oblique;
            font-size: 18px;
            margin: 0;
            padding: 0;
        }
    }
}
.founder-content {
    .founder-inner {
        padding-top: 150px;
        padding-bottom: 150px;
        display: flex;
        justify-content: space-between; 
    }
}
// cлайдер
.slide-avatar {
    padding-bottom: 40px;
}
.slide-header {
    position: relative;
    overflow: hidden;
}
.slide-header ul {
    display: flex;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: .5s;
}
.slide-header li {
    margin: 0 2px;
}
.slide-header img {
    margin-bottom: 20px;
    width: 20%;
}
.slide-header a {
    width: 20px;
    height: 20px;
    display: block;
}
.cls-2 {
    fill: #fff;
}
.slide-avatar h4 {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.slide-avatar p {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    margin: 0;
    text-align: center;
    line-height: 1.5; 
}
.slick-slide { 
    width: 270px; 
    margin: 0 15px;
}

.slick-slide img {
    max-width: 270px;
    height: 270px;
    object-fit: cover;
}
.slide-header:hover img {
    filter: contrast(60%);
}
.slide-avatar:hover .slide-header ul {
    bottom: 50px;
}
.slide-item:hover .slide-networks {
    background-color: #c0301c;
}
.slide-team .slick-prev, 
.slide-team .slick-next {
    width: 35px;
    height: 38px;
    background-color: #555;
    z-index: 10;
    bottom: 5px;
    top: 140px;
}
.slide-team .slick-prev:hover, 
.slide-team .slick-next:hover {
    background-color: #c0301c;
}
.slide-team .slick-prev:before,
.slide-team .slick-next:before  {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-size: cover;
}
.slick-prev {
    left: 0px;
}
.slick-next {
    right: 0px;
}
.slide-team .slick-prev:before {   
    background-image: url("../media/svg/arrows-left.svg");
}
.slide-team .slick-next:before {
    background-image: url("../media/svg/arrows-right.svg");
}
.nav-works {
    margin: 0 auto;
    width: 800px;
    color: #555;
}
.nav-works a:hover {
	color: #c0301c;
}

// слайдер
.founder-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
        max-width: 82px;
        max-height: 82px;
        object-fit: contain;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2;
        padding: 0;
        margin-bottom: 20px;
        margin-top: 0;
        max-width: 550px;
    }
    .founder-list {
        display: flex;
        margin-top: 30px;
        span {
            background-color: #60606e;
            height: 5px;
            width: 15px;
            margin-left: 5px;
        }
        span:hover {
            background-color: #7beec7;
            width: 25px;
            cursor: pointer;
        }
    }
}
.founder-icon {
    display: grid;
    grid-template-columns: 160px 35px 160px 35px 160px;
    grid-template-rows: 100px 35px 100px;
    .icon-one {
        grid-column: 1/2;
        grid-row: 1;
    }
    .icon-two {
        grid-column: 3/4;
        grid-row: 1;
    }
    .icon-three {
        grid-column: 5/6;
        grid-row: 1;
    }
    .icon-four {
        grid-column: 1/2;
        grid-row: 3;
    }
    .icon-five {
        grid-column: 3/4;
        grid-row: 3;
    }
    .icon-six {
        grid-column: 5/6;
        grid-row: 3;
    }
    .icon-one,
    .icon-two,
    .icon-three,
    .icon-four,
    .icon-five,
    .icon-six {
        border: 1px solid #e9e6e6;
        width: 160px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
        max-width: 160px;
        max-height: 100px;
        object-fit: cover;
        }

    }
}

// services

.wr-services {
    max-width: 1150px;
    margin: 0 auto;
    .services-container {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.services-activity {
    padding-top: 125px;
    padding-bottom: 150px;
}
.services-activity-block {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 10px 50%; 
    grid-template-rows: 120px 30px 1fr; 
}
.services-activity-info {
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: "OpenSans", serif;
    font-weight: 400;
    font-size: 14px;
    color: #60606e;
    text-align: left;
    line-height: 2.2;
}
.services-list-left {
    grid-column: 1/2;
    grid-row: 3/4;
    ul {
        li {
            margin-bottom: 10px;
            svg {
                width: 15px;
                height: 15px;
                fill: #7beec7;
            }
            span {
                font-family: "OpenSans", serif;
                font-weight: 400;
                font-size: 14px;
                color: #60606e;
            }
        }
    }
}
.services-list-right {
    grid-column: 3/4;
    grid-row: 3/4;
    ul {
        li {
            margin-bottom: 10px;
            svg {
                width: 15px;
                height: 15px;
                fill: #7beec7;
            }
            span {
                font-family: "OpenSans", serif;
                font-weight: 400;
                font-size: 14px;
                color: #60606e;
            }
        }
    }
}
.services-activity-inner {
    grid-column: 5/6;
    grid-row: 1/4;
    img {
        max-width: 510px;
        max-height: 320px;
    }
}
.services-quality {
    padding-bottom: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-quality-icon {
    text-align: center;
    margin: 0 20px;
    .icon {
        align-items: center;
        position: relative;
        svg {
            position: relative;
            width: 50px;
            height: 50px; 
            fill: #60606e;  
        }
    }
    .icon::before {
        content: "";
        background-color: #7beec7;
        width: 50px;
        height: 20px;
        position: absolute;
        top: 30px;
        left: 110px;
    }
    p {
        line-height: 2;
    }
}
.services-card {
    padding-bottom: 150px;
    .services-card-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    } 
}
.services-card-inner {
    padding: 0 120px 40px 30px;
    position: relative;
    h2 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 30px;
        color:#60606e;
        text-transform: uppercase;
        position: relative;
        letter-spacing: -1px;
        z-index: 10;
        text-align: left;
        margin-bottom: 10px;
    }
    h2::before {
        display: none;
    }
    .services-price {
        font-family: "Montserrat", serif;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        padding: 4px 18px;
        border: 1px solid #7beec7;
        background-color: #7beec7;
        color: #fff;
        max-width: 165px;
    }
    ul {
        margin-top: 45px;
        margin-bottom: 50px;
        li {
            margin-bottom: 12px;
            font-family: "OpenSans", serif;
            font-weight: 400;
            color: #60606e;
            font-size: 14px;
            padding: 0;
            margin-bottom: 18px;
            svg {
                width: 15px;
                height: 15px; 
                fill: #7beec7;
            }
            .services-price-item {
                font-family: "OpenSans", serif;
                font-weight: 400;
                color: #60606e;
                font-size: 14px;
                padding: 0;
            }
        }
    }
}
.services-card-inner::before {
    content: "";
        display: inline-block;
        width: 100%;
        height: 5px;
        position: absolute;
        top: -5px;
        right: 0;
        background-color: #7beec7;
        transform-origin: bottom left;
}
.services-card-inner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    border-top: 10px solid #7beec7;
}
.services-card-inner:hover {
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    cursor: pointer;
}

// blog

.blog {
    max-width: 1150px;
    margin: 0 auto;
    .blog-container {
        display: flex;
        justify-content: space-between;
        padding: 150px 5px 50px;
    }
}
.blog-gallery {
    .blog-gallery-inner {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        h5 {
            font-family: "Montserrat", serif;
            font-weight: 700;
            font-size: 18px;
            color:#60606e;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        p {
            text-align: left;
            margin-top: 0;
            margin-bottom: 30px;
            max-width: 750px;
        }
    }   
}
.blog-media {
    margin-bottom: 30px;
    img {
        max-width: 750;
        max-height: 500;
        object-fit: contain;
    }
}
.blog-gallery-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .blog-gallery-date {
        font-family: "Montserrat", serif;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #7beec7;
        color: #fff;
        font-weight: 700;
        padding: 5px 20px;
    }
    a {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 14px;
        color:#60606e;
        text-transform: uppercase;
        .comments {
            width: 20px;
            height: 20px;
            fill: #60606e;
            opacity: 0.5;
            margin: 0 5px;
        }
        .transition {
            width: 10px;
            height: 10px;
            fill: #60606e;
        }
    }
    .like {
        width: 20px;
        height: 20px;
        fill: #60606e;
        opacity: 0.5;
        margin: 0 5px;
    }
    .like:hover {
        fill: #da4004;
        cursor: pointer;
    }
    .quantity {
        font-family: "Montserrat", serif;
        font-size: 14px;
        text-transform: uppercase;
        color: #60606e;
        font-weight: 400;
        opacity: 0.5;
        margin: 0 5px;
    }
}
.side-bar {
    max-width: 260px;
}
.search {
    display: flex;
    input {
        width: calc(100% - 42px);
        height: 40px;
        background-color: #e9e6e6;
        border: none;
        outline: none;
        padding-right: 0;
    }
    ::placeholder {
        font-family: "Montserrat", serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #888;
        font-weight: 700;
    }
    input:focus {
        background-color: #f7f5f5;
    }
    .button-blog-search {
        width: 42px;
        height: 42px;
        background-color: #e9e6e6;
        border: none;
        outline: none;
        padding: 0;
        svg {
            width: 10px;
            height: 10px;
            fill: #60606e;
        }
    }
    .button-blog-search:hover {
         cursor: pointer;
    }    
}
.posts {
    .nav-side-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            font-family: "Montserrat", serif;
            font-weight: 700;
            font-size: 12px;
            color:#60606e;
            text-transform: uppercase;
        }
    }
    .nav-line {
        display: block;
        width: 33%;
        height: 2px;
        background-color: #60606e;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.posts-inner {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    img {
        width: 80px;
        height: 80px;
        object-fit: auto;
    }
    .posts-item {
        margin-left: 20px;
        h6 {
            margin: 0;
        }
        .posts-date {
            font-family: "Montserrat", serif;
            font-weight: 400;
            font-size: 12px;
            color:#60606e;
        }
    }
}
.blog-widget {
    .blog-list {
        font-family: "Montserrat", serif;
        font-weight: 400;
        font-size: 14px;
        color:#60606e;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #60606e;
            a {
                padding: 20px 0 20px 10px;
            }
        }
    }
}
.tags {
    .tags-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            font-family: "Montserrat", serif;
            font-weight: 700;
            font-size: 12px;
            color:#60606e;
            text-transform: uppercase;
            margin-right: 10px;
            margin-bottom: 30px;
            a {
                padding: 10px 15px;
                background-color: #e9e6e6;
            }
        }
    }
}

 // contact

.wr-contact {
    max-width: 1150px;
    margin: 0 auto;
    .contact-container {
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        padding: 150px 5px 50px;
    }
}
.contact-content {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
form {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 50px 30px 50px 30px 200px 30px 50px;
    .form-name {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 50px;
        border: 1px solid  #dad8d8;
        outline: none;
    }
    .form-email {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 100%;
        height: 50px;
        border: 1px solid  #dad8d8;
        outline: none;
    }
    .form-object {
        grid-column: 1/4;
        grid-row: 3/4;
        width: 100%;
        height: 50px;
        border: 1px solid  #dad8d8;
        outline: none;
    }
    textarea {
        grid-column: 1/4;
        grid-row: 5/6;
        width: 100%;
        height: 200px;
        border: 1px solid  #dad8d8;
        outline: none;
        resize: none;
    }
    ::placeholder {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        opacity: 0.5;
        padding-left: 20px;
    }
    .button {
        grid-column: 1/4;
        grid-row: 7/8;
        text-align: center;
    }
}
h6 {
    font-size: 18px;
    margin-bottom: 0;
}
.contact-text {
    font-family: "OpenSans", serif;
    font-size: 14px;
    font-weight: 400;
    color: #888;
    text-align: justify;
    line-height: 2.2;
}
.contact-list {
    display: flex;
    flex-direction: column;
    li {
        margin-bottom: 12px;
        a {
            font-family: "OpenSans", serif;
            font-size: 14px;
            font-weight: 400;
            color: #888;
        }
    }
}
.contact-icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 0;
        li {
            padding-right: 18px;
            a {
                svg {
                    fill: #888;
                    width: 15px;
                    height: 15px;
                }
                svg:hover {
                    fill: #7beec7;
                }
            }
        } 
}
.contact-map {
    width: 50%;
    iframe {
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: 990px) {

    // creative agency

    .wr-preview{
        h1 {
            font-size: 40px;
            border: 8px solid #60606e;
            max-width: 450px;
            margin: 100px auto 25px;
        }
        p {
            font-size: 14px;
            max-width: 450px;
        }
    }
    header {      
        .logo {
            font-size: 14px;          
        }
    }
    .home-container-history {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        img {
            display: none;      
        } 
        .button-home {
            margin-bottom: 10px;
        }
    }    
    .home-container-info {        
        h2 {
            text-align: center;
        }            
        p {
            text-align: center;
        }
        .button-home {
            display: inline-block;
            text-align: center;
        } 
    }
    .wr-choose {
        .choose-container {
            padding-top: 150px;
            p {
                margin: 0 auto;
            }
            
        }
    }
    .choose-content {
        flex-direction: column;
        align-items: center;
        .choose-content-inner {
            align-items: center;
            flex-direction: column;  
        }
    }
    .choose-content-item { 
        width: 100%; 
        text-align: center;
        margin-top: 30px;
        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .wr-portfolio {
        p {
            margin: 0 auto 25px;
        }
    }
    .portfolio-block {
        grid-template-columns: 1fr 10px 1fr 10px 1fr; 
        grid-template-rows: repeat(2, auto 10px) repeat(2, 10px) auto repeat(2, 10px) repeat(2, auto); 
        a {
            img {
                max-width: 200px;
            }
        }
    }
    footer {
        .footer-container {
            flex-direction: column;
            padding-top: 20px;
        }
    } 
    .footer-block {
        flex-direction: column;
    } 
    .footer-nav {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                margin-right: 0;
                margin-bottom: 20px;
            }                    
            li + li::before {
                content: "-"; 
                display: none;
            }       
        }
    }
    .footer-info {
        font-size: 12px;
    }
    .footer-icons {
        justify-content: center;
            li {
                padding-left: 10px;
                padding-right: 10px;

            } 
    }

    // about us
    .about-us-container {
        flex-direction: column;
        padding: 50px 5px 35px;
        .about-inner {
            p {
                margin: 0;
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }

    // services
    .services-activity {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .services-activity-block {
        display: grid;
        grid-template-columns: 1fr 20px 1fr; 
        grid-template-rows: repeat(3, auto 10px);
        justify-content: center; 
        .services-list-left {
            grid-column: 1/2;
            grid-row: 3/4;
            justify-self: center;    
        }
        .services-list-right {
            grid-column: 3/4;
            grid-row: 3/4;
            justify-self: center;
        }
        .services-activity-inner {
            grid-column: 1/4;
            grid-row: 5/6;
            text-align: center;
        }
    }
    .services-quality {
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .services-card {
        padding-bottom: 50px;
    }
    .services-quality-icon {
        text-align: center;
        margin: 0 auto;
        .icon::before {
            content: "";
            display: none;
        }
    }
}

@media all and (max-width: 810px) {

    .portfolio-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio-navigation {
        h3 {
            text-align: center;                  
        }               
        ul {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;  
        }             
    }
    .portfolio-block {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(9, auto 10px); 
        .one {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .two {
            grid-column: 1/2;
            grid-row: 3/4;  
        }
        .three {
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .four {
            grid-column: 1/2;
            grid-row: 7/8;
        }
        .five {
            grid-column: 1/2;
            grid-row: 9/10;
        }
        .six {
            grid-column: 1/2;
            grid-row: 11/12;
        }
        .seven {
            grid-column: 1/2;
            grid-row: 13/14;
        }
        .eight {
            grid-column: 1/2;
            grid-row: 15/16
        }
        .nine {
            grid-column: 1/2;
            grid-row: 17/18;
        }
    } 
}

@media all and (max-width: 770px) {

    // creative agency

    .wr-preview {
        h1 {
            font-size: 30px;
            border: 3px solid #60606e;
            max-width: 180px;
            margin: 80px auto 10px;
        }
        h1:after {
            content: "we're";  
            bottom: 103%;
            left: 30%;
            font-size: 12px;
        }
    }
    header {      
        .logo {
            font-size: 10px;          
        }
    }
    .home-container-history {
        margin-top: 50px;
    }
    .wr-choose {
        .choose-container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    .choose-content {
        img {
            max-width: 270px;
            height: 295px;
        }
    }
    .wr-portfolio {
        .portfolio-container {
            padding-bottom: 50px;  
        }
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-inner {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            text-align: center;
        }
    }
    .footer-email {
        background-color: #fff;
        padding: 20px;
        box-sizing: border-box;
        h5,
        p {
           text-align: center;
           max-width: 100%;
        }
        form {
            flex-direction: column;
            align-items: center;
            .bottom-form {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    } 

    // about us

    .about-us {
        .about-us-container {
            padding-top: 50px;
        }
    }
    .benefist {
        .benefist-container {
            padding-bottom: 50px;
        }
    }
    .page-title {
        p {
            margin-bottom: 50px;;
        }
    }
    .benefist-item {
        margin-bottom: 0;
    }
    .dream-team {
        .dream-team-container {
            padding-bottom: 50px;
            p {
                padding-bottom: 30px;
            }
        }
    }
    .dream-team-inner {
        background-color: #e9e6e6;
        .button-block {
            flex-direction: column;
            p {
                margin-bottom: 10px;
            }
        }
    }
    .founder-item {
        .founder-list {
            margin-bottom: 30px;

        }
    }
    .founder-inner {
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        .founder-icon {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, auto);
            justify-items: center;
            .icon-one {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            .icon-two {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            .icon-three {
                grid-column: 1/2;
                grid-row: 3/4;
            }
            .icon-four {
                grid-column: 1/2;
                grid-row: 4/5;
            }
            .icon-five {
                grid-column: 1/2;
                grid-row: 5/6;
            }
            .icon-six {
                grid-column: 1/2;
                grid-row: 6/7;
            }
            .icon-one,
            .icon-two,
            .icon-three,
            .icon-four,
            .icon-five,
            .icon-six {
                margin-bottom: 10px;
            }
        }
    }

    // services

    .services-activity-inner {
        img {
            max-width: 240px;
            height: 150px;
        }
    }
    .services-card {
        p {
            margin: 0 auto 50px;
        }
    }
    .services-card-inner {
        padding-right: 80px;
    }

    // contact

    .wr-contact {
        .contact-container {
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    } 
    .contact-content {
        align-items: center;
        margin-right: 5px;
    }
    form {
        ::placeholder {
            font-size: 10px;
        }
    }
    h6 {
        text-align: center;
    }
    .contact-text {
        text-align: center;
    }
    .contact-icons {
        justify-content: center;
        margin-bottom: 10px;
            li {
                margin-right: 10px;
                margin-left: 10px;
            } 
    }
    .contact-map {
        width: 80%;
        height: 300px;
    }   
}