@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./normalize.scss";
@import "./fonts.scss";
@import "./settings.scss";

/* wr-preview */
.wr-preview {
    background-image: url("../img/home/home_page.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 850px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1150px;
        margin: 0 auto;  
        padding: 30px 5px 0;        
        .logo {
            color: #60606e;
            font-size: 18px;
            font-family: "Montserrat", serif;
            font-weight: 700;
            text-transform: uppercase;             
        }
        ul {
            display: flex;
            color: #60606e;
            font-family: "Montserrat", serif;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            align-items: center;
        }
        li {
            margin-left: 37px;  
        }
        a {
            font-size: 14px;
            font-family: "Montserrat", serif;
            font-weight: 400;
        }   
        a:hover {
            border-bottom: 1px solid #60606e;
        }           
    }
    h1 {
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 48px;
        color:#60606e;
        text-transform: uppercase;
        text-align: center;
        border: 10px solid #60606e;
        max-width: 520px;
        margin: 180px auto 25px;
        padding: 12px 8px;
        position: relative;
    }
    h1:after {
        content: "we're";
        background-color: #7beec7;
        position: absolute;    
        bottom: 113%;
        left: 41%;
        font-size: 18px;
        padding: 4px 18px;
    }
    p {
        font-size: 16px;
        max-width: 555px;
        margin: 0 auto;
    }
    .home-container-history {
        display: flex;
        justify-content: space-between;
        margin: 125px auto 0;
        max-width: 1150px;
        padding-left: 5px;
        padding-right: 5px;
        img {
            max-width: 460px;
            height: 400px;
            overflow: hidden;      
        }
        .home-container-info {        
            h2 {
                text-align: left;
                margin-bottom: 10px;
            }            
            p {
                font-size: 16px;
                line-height: 1.9;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 20px;
            }
            .button-home {
                display:flex;
                justify-content:flex-end;
            } 
        }
    }              
}

/* why choose us */
.wr-choose {
    margin: 0 auto;
    max-width: 1150px;
    .choose-container {
        padding: 220px 5px 115px;
        p {
            font-size: 14px;
            max-width: 750px;
            margin: 0 auto 95px;
        }
        .choose-content {
            display: flex;
            justify-content: space-between;
            .choose-content-inner {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                
                .choose-content-item { 
                    width: 50%; 
                    svg{
                        color: #60606e;
                        width: 35px;
                        height: 35px;
                        opacity: 0.5;
                    }
                    ul {
                        font-family: "Montserrat", serif;
                        font-weight: 400;
                        font-size: 14px;
                        color:#60606e;
                        text-transform: uppercase;
                        letter-spacing: -0.5px;
                    }
                    li {
                        margin-bottom: 15px;
                    }
                }
            }
            img {
                max-width: 458px;
                height: 500px;
                overflow: hidden;
            }
        }
    }
}

// our portfolio
.wr-portfolio {
    margin: 0 auto;
    max-width: 1150px;
    p {
        font-size: 14px;
        max-width: 770px;
        margin: 0 auto 95px;
    }
    .portfolio-content {
        display: grid;
        grid-template-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;  
        padding: 0 5px 120px;  
        .portfolio-navigation {
            grid-column: 1/2;
            h3 {
                font-family: "Montserrat", serif;
                font-weight: 700;
                font-size: 30px;
                color:#60606e;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 35px;
                line-height: 1.5;                    
            }               
            ul {
                font-family: "Montserrat", serif;
                font-size: 14px;
                text-transform: uppercase;
                list-style-type: none;
                color:#60606e;
                font-weight: 700;
                position: relative;
                margin: 0;
            }
            li {
                margin-bottom: 25px;
                margin-left: 20px;
                a:hover {
                    background-color: #7beec7;
                    color: #fff;
                    padding: 1px 20px;
                    margin-left: -20px;
                    border: 0;
                }
            }               
        }
        .portfolio-item-first {
            grid-column: 3/4;
        }
        .portfolio-item-second {
            grid-column: 5/6;
        }
        .portfolio-item-third {
            grid-column: 7/8;
        }
        .portfolio-item-first,
        .portfolio-item-second,
        .portfolio-item-third {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            a {
                img {
                    max-width: 260px;
                    overflow: hidden;
                    margin-bottom: 30px;
                }
            }  
        }
    }

}

/* footer green form*/
.footer-form {
    margin: 0 auto;
    background-color: #7beec7;
    .footer-content {
        max-width: 1150px;
        margin: 0 auto;                
        display: flex;
        justify-content: space-between;
        padding: 50px 5px;
        .footer-inner {      
            h3 {
                font-family: "Montserrat", serif;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 30px;
                color: #fff;
                display: inline-block;
                line-height: 1.5;
                margin-top: 0;
            }
            .button {
                background-color: #fff;
                color: #7beec7;
            } 
        }
        .footer-email {
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            h5 {
                font-family: "Montserrat", serif;
                font-weight: 700;
                color: #60606e;
                font-size: 24px;
                text-transform: uppercase;
                line-height: 1.5;
                margin: 0;
                max-width: 90%;
            }
            p {
                font-size: 16px;
                opacity: 0.6;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 0;
                margin-bottom: 30px;
                max-width: 90%;
                text-align: left;
            }
            form {
                display: flex;
                align-items: stretch;
                .bottom-form {
                    display: inline-block;
                    box-sizing:border-box;
                    width: 100%;
                    height: 50px;
                    border: 1px solid  #dad8d8;
                }
                .button {
                    box-sizing: border-box;
                    text-align: center;
                }
                ::placeholder {
                    font-family: "Montserrat", serif;
                    font-weight: 700;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding-left: 10px;
                    opacity: 0.5;
                }
            }
        } 
    }
}

// footer
footer {
    margin: 0 auto;
    max-width: 1150px;
    .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 5px 0;
        .footer-nav {
            ul {
                display: flex;
                justify-content: flex-start;
                padding: 0;
                font-family: "Montserrat", serif;
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                list-style-type: none;
                li {
                    margin-right: 15px;
                }                    
                li + li::before {
                    content: "-"; 
                    color: #60606e;
                    margin-right: 15px;
                }  
                a:hover {
                    border-bottom: 1px solid #60606e;
                }        
            }
        }
        .footer-info {
            font-family: "Montserrat", serif;
            font-weight: 400px;
            text-transform: uppercase;
            font-size: 14px;
            color: #60606e;
        }
    }
    .footer-icons {
        display: flex;
        justify-content: flex-end;
        li {
            margin-left: 18px;
            a {
                svg {
                    fill: #60606e;
                    width: 15px;
                    height: 15px;
                }
                svg:hover {
                    fill: #7beec7;
                }
            }
        }
    }
}

// about-us
.about-us {
    max-width: 1150px;
    margin: 0 auto;
    .about-us-info {
        display: flex;
        justify-content: space-between;
        padding: 125px 5px 35px;
        .about-inner {
            h2 {
                text-align: left;
                margin-bottom: 0;
            }
            h6 {
                font-family: "Montserrat", serif;
                font-weight: 700;
                font-size: 14px;
                color:#60606e;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
                margin: 0 auto 95px;
                line-height: 2.2;
                text-align: justify;
                max-width: 550px;
                height: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.benefist {
    max-width: 1150px;
    margin: 0 auto;
    .benefist-container {
        padding: 0 5px 80px;
        p {
            font-size: 14px;
            max-width: 750px;
            margin: 0 auto 85px;
        }   
        .benefist-inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .benefist-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                .benefist-icon {
                    display: flex;
                    align-items: center;
                    svg {
                        width: 30px;
                        height: 30px;
                        color: #fff;
                        background-color: #7beec7;
                        padding: 5px;
                        fill: #fff;
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 2.2;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                    max-width: 360px;
                }
            }
        }
    }
}
.dream-team {
    max-width: 1150px;
    margin: 0 auto;
    .dream-team-container {
        padding: 0 5px;
        p {
            font-size: 14px;
            max-width: 750px;
            margin: 0 auto;
            padding-bottom: 30px;
        }
        .dream-team-content {

        // слайдер будет

            .dream-team-inner {
                background-color: #e9e6e6;
                .button-block {
                    max-width: 1080px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 50px 5px;
                    p {
                        font-style: oblique;
                        font-size: 18px;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .founder-content {
                .founder-inner {
                    padding-top:150px;
                    padding-bottom: 180px;
                    display: flex;
                    justify-content: space-between;
                    .founder-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        img {
                            max-width: 82px;
                            height: 82px;
                            overflow: hidden;
                            border-radius: 50%;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 2;
                            padding: 0;
                            margin-bottom: 20px;
                            max-width: 550px;
                        }
                        .founder-list {
                            
                            span {
                                width: 16px;
                                height: 6px;
                                background-color: #60606e;
                            }
                        }
                    }
                    .founder-icon {
                        display: grid;
                        grid-template-columns: 160px 35px 160px 35px 160px;
                        grid-template-rows: 100px 35px 100px;
                        justify-items: center;
                        .icon-one {
                            grid-column: 1/2;
                            grid-row: 1;
                        }
                        .icon-two {
                            grid-column: 3/4;
                            grid-row: 1;
                        }
                        .icon-three {
                            grid-column: 5/6;
                            grid-row: 1;
                        }
                        .icon-four {
                            grid-column: 1/2;
                            grid-row: 3;
                        }
                        .icon-five {
                            grid-column: 3/4;
                            grid-row: 3;
                        }
                        .icon-six {
                            grid-column: 5/6;
                            grid-row: 3;
                        }
                        .icon-one,
                        .icon-two,
                        .icon-three,
                        .icon-four,
                        .icon-five,
                        .icon-six {
                            border: 1px solid #e9e6e6;
                            width: 160px;
                            height: 100px;
                            img {
                                // display: flex;
                                // align-items: center;
                                // justify-content: center;
                                // margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

// services

.wr-services {
    max-width: 1150px;
    margin: 0 auto;
    .services-activity {
        padding: 125px 5px 150px;
        p {
            font-size: 14px;
            max-width: 750px;
            margin: 0 auto 95px;
        }
        .services-activity-block {
            display: grid;
            grid-template-columns: 1fr 20px 1fr 10px 50%; 
            grid-template-rows: 100px 30px 1fr; 
            .services-activity-info {
                grid-column: 1/4;
                grid-row: 1/2;
                font-family: "OpenSans", serif;
                font-weight: 400;
                font-size: 14px;
                color: #60606e;
                text-align: left;
                line-height: 2;
            }
            .services-list-left {
                grid-column: 1/2;
                grid-row: 3/4;
                ul {
                    padding: 0;
                    li {
                        margin-bottom: 10px;
                        svg {
                            width: 15px;
                            height: 15px;
                            fill: #7beec7;
                        }
                        span {
                            font-family: "OpenSans", serif;
                            font-weight: 400;
                            font-size: 14px;
                            color: #60606e;
                        }
                    }
                }
            }
            .services-list-right {
                grid-column: 3/4;
                grid-row: 3/4;
                ul {
                    padding: 0;
                    li {
                        margin-bottom: 10px;
                        svg {
                            width: 15px;
                            height: 15px;
                            fill: #7beec7;
                        }
                        span {
                            font-family: "OpenSans", serif;
                            font-weight: 400;
                            font-size: 14px;
                            color: #60606e;
                        }
                    }
                }
            }
            .services-activity-inner {
                grid-column: 5/6;
                grid-row: 1/4;
                img {
                    max-width: 580px;
                    height: 360px;
                }
            }
        }
    }
    .services-quality {
        padding: 0 5px 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .services-quality-icon {
            text-align: center;
            margin: 0 20px;
            .icon {
                align-items: center;
                position: relative;
                svg {
                    position: relative;
                    width: 50px;
                    height: 50px; 
                    fill: #60606e;  
                }
            }
            .icon::before {
                content: "";
                background-color: #7beec7;
                width: 50px;
                height: 20px;
                position: absolute;
                top: 30px;
                left: 110px;
            }
            p {
                font-size: 14px;
                line-height: 2;
            }
        }
    }
    .services-card {
        padding: 0 5px 150px;
        p {
            font-size: 14px;
            max-width: 750px;
            margin: 0 auto 95px;
        }
        .services-card-content {
            display: flex;
            justify-content: space-between;
            .services-card-inner {
                padding: 0 120px 40px 30px;
                position: relative;
                h2 {
                    text-align: left;;
                }
                h2::before {
                    display: none;
                }
                .services-price {
                    font-family: "Montserrat", serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 14px;
                    padding: 4px 18px;
                    border: 1px solid #7beec7;
                    background-color: #7beec7;
                    color: #fff;
                    max-width: 165px;
                }
                ul {
                    padding: 0;
                    margin-top: 45px;
                    margin-bottom: 50px;
                    li {
                        margin-bottom: 12px;
                        font-family: "OpenSans", serif;
                        font-weight: 400;
                        color: #60606e;
                        font-size: 14px;
                        padding: 0;
                        margin-bottom: 18px;
                        svg {
                            width: 15px;
                            height: 15px; 
                            fill: #7beec7;
                        }
                        .services-price-item {
                            font-family: "OpenSans", serif;
                            font-weight: 400;
                            color: #60606e;
                            font-size: 14px;
                            padding: 0;
                        }
                    }
                }
            }
            .services-card-inner::before {
                content: "";
                    display: inline-block;
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    top: -5px;
                    right: 0;
                    background-color: #7beec7;
                    transform-origin: bottom left;
                }
            .services-card-inner:hover {
                box-shadow: 0 0 40px rgba(0,0,0,0.3);
                cursor: pointer;
            }
        } 
    }
}

 
@media all and (max-width: 990px) {
    .wr-preview {
        .home-container-history {
            img {
                max-width: 230px;
                height: 200px;     
            }
        }
    }
    .wr-services {
        .container {
            .service-icon {

                .icon::before {
                    top: 25px;
                    left: 145px;
                }
            }
        }
    }
    footer {
        .footer-container {
            flex-direction: column;
            .footer-nav {
                ul {
                    justify-content: center;
                }
            }
        }
        .footer-icons {
            justify-content: center;
        }
    } 
}

 
@media all and (max-width: 770px) {

    .wr-preview {
        max-height: 550px;
        header {       
            .logo {
                font-size: 16px;
            }
            ul {
                display: none;
            }  
            h1 {
                font-size: 24px;
            }
            .home-us-nav {
                font-size: 12px;
            }
        }
        h1 {
            font-size: 30px;
            border: 5px solid #60606e;
            max-width: 350px;
            margin: 80px auto 10px;
            padding: 12px 8px;
            position: relative;
        }
        h1:after {
            content: "we're";
            background-color: #7beec7;
            position: absolute;    
            bottom: 108%;
            left: 40%;
            font-size: 12px;
            padding: 4px 18px;
        }
        p {
            font-size: 12px;
        }
        .home-container-history {
            margin-top: 50px;
            img {
                max-width: 230px;
                height: 200px;     
            }
            .home-container-info {   
                p {
                    font-size: 12px;
                } 
            }
        }
    }
    // .wr-services {
    //     .container {
    //         padding: 125px 5px 150px;
    //         .section-header {
    //             p {
    //                 font-size: 12px;
    //             }
    //         }
    //         .services-activity-block {
    //             justify-content: center;
    //             p {
    //                 font-size: 12px;
    //             } 
    //             .services-activity-inner {
    //                 font-size: 12px;
    //             }
    //             img {
    //                 max-width: 250px;
    //                 height: 160px;
    //             }
    //         }
    //         .service-icon {
    //             margin-top: 120px;
    //             padding-bottom: 120px;
    //             .icon {
    //                 margin-bottom: 28px;
    //                 svg {
    //                     position: relative;
    //                     width: 20px;
    //                     height: 20px; 
    //                     fill: #60606e;  
    //                 }
    //             }
    //             .icon::before {
    //                 display: none;
    //             }
    //             h4 {
    //                 text-align: center;
    //             }
    //             p {
    //                 font-size: 14px;
    //                 line-height: 2.2;
    //             }
    //         }
    //         .service-card {
    //             .service-card-content {
    //                 // border: 1px solid  #e9e6e6;
    //                 // padding-left: 25px;
    //                 position: relative;
    //                 h2 {
    //                     text-align: left;
    //                     margin-top: 25px;
    //                     margin-left: 25px;
    //                 }
    //                 h2::before {
    //                     display: none;
    //                 }
    //                 .services-price {
    //                         font-family: "Montserrat", serif;
    //                         font-weight: 700;
    //                         text-transform: uppercase;
    //                         text-decoration: none;
    //                         font-size: 14px;
    //                         padding: 4px 18px;
    //                         border: 1px solid #7beec7;
    //                         background-color: #7beec7;
    //                         color: #fff;
    //                         max-width: 165px;
    //                         margin-left: 25px;
    //                 }
    //                 ul {
    //                     padding: 0;
    //                     margin-top: 50px;
    //                     margin-left: 25px;
    //                     margin-bottom: 25px;
    //                     li {
    //                         margin-bottom: 12px;
    //                         .ok {
    //                             width: 15px;
    //                             height: 15px; 
    //                             fill: #7beec7;
    //                         }
    //                         .services-price-item {
    //                             font-family: "OpenSans", serif;
    //                             font-weight: 400;
    //                             color: #60606e;
    //                             font-size: 14px;
    //                             padding: 0;
    //                         }
    //                     }
    //                 }
    //             }
    //             .service-card-content::before {
    //             content: "";
    //             display: inline-block;
    //             width: 100%;
    //             height: 5px;
    //             position: absolute;
    //             top: -5px;
    //             padding-left: 0;
    //             background-color: #7beec7;
    //             transform-origin: bottom left;
    //             }
    //             .service-card-content:hover {
    //                 box-shadow: 0 0 50px rgba(0,0,0,0.5);
    //                 cursor: pointer;
    //             }
    //         } 
    //     }
    // }
    .footer-form {
        .footer-content {
        flex-direction: column;
            .footer-inner {
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    text-align: center;
                    font-size: 20px;
                }
            }
            .footer-email {
                h5 {
                    font-size: 20px;
                }
                p {
                    font-size: 12px;
                }
                form {
                    .bottom-form {
                        height: 40px;
                    }
                    ::placeholder {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    footer {
        .footer-container {
            .footer-nav {
                ul {
                    display: none;
                }
            }
            .footer-info {
                font-size: 8px;
            }
        }
        .footer-icons {
            justify-content: center;
        }
    }
}
// @media all and (max-width: 1100px) {
//     .wr-portfolio {
//         .portfolio-container {
//             .portfolio-content {
//                 grid-template-columns: 1fr 10px 1fr 10px 1fr 10px 1fr; 
//                 .portfolio-item-first,
//                 .portfolio-item-second,
//                 .portfolio-item-third {
//                     a {
//                         img {
//                             margin-bottom: 10px;
//                         }
//                     }
//                 }  
//             }
//         }
//     }
// }

// @media all and (max-width: 960px) {
//     .wr-portfolio {
//         .portfolio-container {
//             .portfolio-content {
//                 grid-template-columns: 260px 10px 1fr 10px 1fr 10px 1fr; 
//                 .portfolio-item-first,
//                 .portfolio-item-second,
//                 .portfolio-item-third {
//                     a {
//                         img {
//                             max-width: 200px;
//                             margin-bottom: 10px;
//                         }
//                     }
//                 }  
//             }
//         }
//     }
// }
// @media all and (max-width: 760px) {
//     .wr-portfolio {
//         .portfolio-container {
//             .portfolio-content {
//                 grid-template-columns: 200px 10px 1fr 10px 1fr 10px 1fr;  
//                 .portfolio-item-first,
//                 .portfolio-item-second,
//                 .portfolio-item-third {
//                     a {
//                         img {
//                             max-width: 100px;
//                         }
//                     }
//                 }  
//             }
//         }
//     }
// }